body{

    position: relative;
    height: 1000px;
    width: 100vw;
}
.container-fluid{
    background-color: #365486;
}
nav {
    position: relative; /* Ensure the z-index works */
    z-index: 9999; /* Set a high z-index value */
}
#addDiv{
    top: 130px;
    position: absolute;
    background-color:#7FC7D9;
    width: 95%;
    height: 300px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;

}
#addDiv>form{
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin: 20px;

}
#updateDiv{
    position: absolute;
    left: 100px;
    right: 0;
    bottom: -75px;
    margin: auto;
}
#deleteDiv{
    position: absolute;
    left: 200px;
    right: 0;
    bottom: -75px;
    margin: auto;
}
#saveDiv{
    position: absolute;
    left:20px;
    right: 0;
    bottom: -75px;
    margin: auto;
}
#customerList{
    position: absolute;
    left:0;
    right: 0;
    top: 600px;
    margin: auto;
}
#more{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100vw;
    height: 40px;
    border-radius: 10px;
    border: solid white;

}