



@media all and (max-width: 320px ){
    body {

        position: relative;
    /*    height: 2000px;*/
        width: 100vw;
    }
    #itemSection{
        position: relative;
        height: 1800px;
    }
    .container-fluid {
        background-color: #365486;
    }

    nav {
        position: relative;
        z-index: 9999;
    }
    #statusDiv{
        width: 100%;
        height: 300px;
        position: absolute;
        top:50px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #status{
        width: 97%;
        height: 320px;
        position: absolute;
        top:50px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #365486;
        border-radius: 20px;
    }
    #categoryDiv{
        width: 95%;
        height: 50px;
        position: absolute;
        top:10px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #productsDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top: 70px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #sellingDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top: 130px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #lowStockDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top:190px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #outStockDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top: 250px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }


    #status>div>h2{
        position: absolute;
        left: 30px;
        top:0;
        bottom: 0;
        margin: auto;
        width: fit-content;
    }
    #status>div>h1{
        position: absolute;

        right: 50px;
        top:0 ;
        bottom: 0;
        margin: auto;
        width: fit-content;
    }
    #categoryDiv>h2{
        color: #0047FC;
    }

    #addItemDiv {
        top: 500px;
        position: absolute;
        background-color: #7FC7D9;
        width: 98%;
        height: 600px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 10px;

    }
    #addItemDiv>h3{
        position: absolute;
        left: 20px;
        top:20px;
        margin: auto;
    }

    #addItemDiv > form {
        position: absolute;
        width: 90%;
        left: 0;
        right: 0;
        bottom: 100px;
        margin: 20px;

    }
    #updateItemDiv {
        position: absolute;
        left: 80px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #deleteItemDiv {
        position: absolute;
        left: 175px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #saveItemDiv {
        position: absolute;
        left: 5px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }
    #resetItemDiv{
        position: absolute;
        left:270px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }
    #itemList{
        position: absolute;
        left:0;
        right: 0;
        top: 1200px;
        width: 98%;
        margin: auto;
        height: 600px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #itemTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        margin: auto;
        width: 98%;
        height: 400px;
        overflow: auto;
    }
    #itemList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarItems{

        position: absolute;
        width: 50%;
        height: 35px;
        border: none;
        right: 40px;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #itemList>div>table{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
       /* bottom: 30px;*/
        margin: auto;
        width: 100%;
        height: 400px;
    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 80px;
    }

}
@media all and (min-width: 321px ) and (max-width: 460px){
    #itemSection{
        position: relative;
        height: 1800px;
    }
    body {

    position: relative;
   /* height: 2000px;*/
    width: 100vw;
}

    .container-fluid {
        background-color: #365486;
    }

    nav {
        position: relative;
        z-index: 9999;
    }
    #statusDiv{
        width: 100%;
        height: 300px;
        position: absolute;
        top:50px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #status{
        width: 97%;
        height: 320px;
        position: absolute;
        top:50px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #365486;
        border-radius: 20px;
    }
    #categoryDiv{
        width: 95%;
        height: 50px;
        position: absolute;
        top:10px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #productsDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top: 70px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #sellingDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top: 130px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #lowStockDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top:190px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #outStockDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top: 250px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }


    #status>div>h2{
        position: absolute;
        left: 30px;
        top:0;
        bottom: 0;
        margin: auto;
        width: fit-content;
    }
    #status>div>h1{
        position: absolute;

        right: 50px;
        top:0 ;
        bottom: 0;
        margin: auto;
        width: fit-content;
    }
    #categoryDiv>h2{
        color: #0047FC;
    }

    #addItemDiv {
        top: 500px;
        position: absolute;
        background-color: #7FC7D9;
        width: 98%;
        height: 600px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 10px;

    }
    #addItemDiv>h3{
        position: absolute;
        left: 20px;
        top:20px;
        margin: auto;
    }

    #addItemDiv > form {
        position: absolute;
        width: 90%;
        left: 0;
        right: 0;
        bottom: 100px;
        margin: 20px;

    }

    #updateItemDiv {
        position: absolute;
        left: 80px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #deleteItemDiv {
        position: absolute;
        left: 175px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #saveItemDiv {
        position: absolute;
        left: 5px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }
    #resetItemDiv{
        position: absolute;
        left:270px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }
    #itemList{
        position: absolute;
        left:0;
        right: 0;
        top: 1200px;
        width: 98%;
        margin: auto;
        height: 600px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #itemTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        margin: auto;
        width: 98%;
        height: 400px;
        overflow: auto;
    }
    #itemList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarItems{

        position: absolute;
        width: 50%;
        height: 35px;
        border: none;
        right: 50px;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #itemList>>div>table{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
       /* bottom: 50px;*/
        margin: auto;
        width: 100%;
        height: 400px;
    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 80px;
    }
}
@media all and (min-width: 461px ) and (max-width: 768px){
    body {

        position: relative;
    /*    height: 2000px;*/
        width: 100vw;
    }
    #itemSection{
        position: relative;
        height: 1900px;
    }
    .container-fluid {
        background-color: #365486;
    }

    nav {
        position: relative;
        z-index: 9999;
    }
    #statusDiv{
        width: 100%;
        height: 300px;
        position: absolute;
        top:50px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #status{
        width: 97%;
        height: 320px;
        position: absolute;
        top:50px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #365486;
        border-radius: 20px;
    }
    #categoryDiv{
        width: 95%;
        height: 50px;
        position: absolute;
        top:10px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #productsDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top: 70px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #sellingDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top: 130px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #lowStockDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top:190px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #outStockDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top: 250px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }


    #status>div>h2{
        position: absolute;
        left: 30px;
        top:0;
        bottom: 0;
        margin: auto;
        width: fit-content;
    }
    #status>div>h1{
        position: absolute;
        right: 100px;
        top:0 ;
        bottom: 0;
        margin: auto;
        width: fit-content;
    }
    #categoryDiv>h2{
        color: #0047FC;
    }

    #addItemDiv {
        top: 500px;
        position: absolute;
        background-color: #7FC7D9;
        width: 98%;
        height: 600px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 10px;

    }
    #addItemDiv>h3{
        position: absolute;
        left: 20px;
        top:20px;
        margin: auto;
    }

    #addItemDiv > form {
        position: absolute;
        width: 90%;
        left: 0;
        right: 0;
        bottom: 100px;
        margin: 20px;

    }

    #updateItemDiv {
        position: absolute;
        left: 100px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #deleteItemDiv {
        position: absolute;
        left: 200px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #saveItemDiv {
        position: absolute;
        left: 20px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }
    #resetItemDiv{
        position: absolute;
        left:300px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }
    #itemList{
        position: absolute;
        left:0;
        right: 0;
        top: 1200px;
        width: 98%;
        margin: auto;
        height: 600px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #itemTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        margin: auto;
        width: 98%;
        height: 450px;
        overflow: auto;
    }
    #itemList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarItems{

        position: absolute;
        width: 50%;
        height: 35px;
        border: none;
        right: 50px;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #itemList>div>table{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    /*    bottom: 50px;*/
        margin: auto;
        width: 100%;
        height: 450px;
    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 100px;
    }

}
@media all and (min-width: 769px ) and (max-width: 834px){
    body {

        position: relative;
    /*    height: 1800px;*/
        width: 100vw;
    }
    #itemSection{
        position: relative;
        height: 1700px;
    }
    .container-fluid {
        background-color: #365486;
    }

    nav {
        position: relative;
        z-index: 9999;
    }
    #statusDiv{
        width: 100%;
        height: 300px;
        position: absolute;
        top:50px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #status{
        width: 97%;
        height: 320px;
        position: absolute;
        top:50px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #365486;
        border-radius: 20px;
    }
    #categoryDiv{
        width: 95%;
        height: 50px;
        position: absolute;
        top:10px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #productsDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top: 70px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #sellingDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top: 130px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #lowStockDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top:190px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #outStockDiv{
        width: 95%;
        height: 50px;
        left: 0;
        right: 0;
        position: absolute;
        top: 250px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }


    #status>div>h2{
        position: absolute;
        left: 30px;
        top:0;
        bottom: 0;
        margin: auto;
        width: fit-content;
    }
    #status>div>h1{
        position: absolute;
        left: 0;
        right: 0;
        top:0 ;
        bottom: 0;
        margin: auto;
        width: fit-content;
    }
    #categoryDiv>h2{
        color: #0047FC;
    }

    #addItemDiv {
        top: 500px;
        position: absolute;
        background-color: #7FC7D9;
        width: 98%;
        height: 400px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 10px;

    }
    #addItemDiv>h3{
        position: absolute;
        left: 20px;
        top:20px;
        margin: auto;
    }

    #addItemDiv > form {
        position: absolute;
        width: 90%;
        left: 0;
        right: 0;
        bottom: 100px;
        margin: 20px;

    }

    #updateItemDiv {
        position: absolute;
        left: 100px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #deleteItemDiv {
        position: absolute;
        left: 200px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #saveItemDiv {
        position: absolute;
        left: 20px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }
    #resetItemDiv{
        position: absolute;
        left:300px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }
    #itemList{
        position: absolute;
        left:0;
        right: 0;
        top: 1000px;
        width: 98%;
        margin: auto;
        height: 600px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #itemTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        margin: auto;
        width: 98%;
        height: 450px;
        overflow: auto;
    }
    #itemList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarItems{

        position: absolute;
        width: 45%;
        height: 40px;
        border: none;
        left: 0;
        right: 0;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #itemList>div>table{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
       /* bottom: 30px;*/
        margin: auto;
        width: 100%;
        height: 450px;
    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 100px;
    }

}
@media all and (min-width: 835px ) and (max-width: 1024px){
    body {

        position: relative;
        /*height: 600px;*/
        width: 100vw;
    }
    #itemSection{
        position: relative;
        height: 1700px;
    }

    .container-fluid {
        background-color: #365486;
    }

    nav {
        position: relative;
        z-index: 9999;
    }
    #statusDiv{
        width: 100%;
        height: 300px;
        position: absolute;
        top:50px;
        margin: auto;
    }
    #status{
        width: 97%;
        height: 200px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #365486;
        border-radius: 20px;
    }
    #categoryDiv{
        width: 17%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 20px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #productsDiv{
        width: 17%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: calc(18% + 40px);
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #sellingDiv{
        width: 17%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: calc(36% + 60px);
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #lowStockDiv{
        width: 17%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: calc(54% + 80px);
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #outStockDiv{
        width: 17%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: calc(72% + 100px);
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #status>div>h2{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
    }
    #status>div>h1{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
        margin: auto;
        width: fit-content;
    }
    #categoryDiv>h2{
        color: #0047FC;
    }

    #addItemDiv {
        top: 400px;
        position: absolute;
        background-color: #7FC7D9;
        width: 98%;
        height: 400px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 10px;

    }
    #addItemDiv>h3{
        position: absolute;
        left: 20px;
        top:20px;
        margin: auto;
    }

    #addItemDiv > form {
        position: absolute;
        width: 90%;
        left: 0;
        right: 0;
        bottom: 100px;
        margin: 20px;

    }

    #updateItemDiv {
        position: absolute;
        left: 100px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #deleteItemDiv {
        position: absolute;
        left: 200px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #saveItemDiv {
        position: absolute;
        left: 20px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }
    #resetItemDiv{
        position: absolute;
        left:300px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #itemList{
        position: absolute;
        left:0;
        right: 0;
        top: 950px;
        width: 98%;
        margin: auto;
        height: 600px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #itemTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        margin: auto;
        width: 98%;
        height: 450px;
        overflow: auto;
    }
    #itemList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarItems{

        position: absolute;
        width: 40%;
        height: 40px;
        border: none;
        left: 0;
        right: 0;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #itemList>div>table{
        position: absolute;
        left: 0;
        right: 0;
    /*    bottom: 20px;*/
        top: 0;
        margin: auto;
        width: 100%;
        height: 450px;
    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 100px;
    }

}
@media all and (min-width: 1025px ) and (max-width: 1440px){

    body {

        position: relative;
   /*     height: 1800px;*/
        width: 100vw;
    }
    #itemSection{
        position: relative;
        height: 1700px;
    }

    .container-fluid {
        background-color: #365486;
    }

    nav {
        position: relative;
        z-index: 9999;
    }
    #statusDiv{
        width: 100%;
        height: 300px;
        position: absolute;
        top:50px;
        margin: auto;
    }
    #status{
        width: 97%;
        height: 200px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #365486;
        border-radius: 20px;
    }
    #categoryDiv{
        width: 18%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 20px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #productsDiv{
        width: 18%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: calc(18% + 40px);
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #sellingDiv{
        width: 18%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: calc(36% + 60px);
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #lowStockDiv{
        width: 18%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: calc(54% + 80px);
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #outStockDiv{
        width: 18%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: calc(72% + 100px);
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #status>div>h2{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
    }
    #status>div>h1{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
        margin: auto;
        width: fit-content;
    }
    #categoryDiv>h2{
        color: #0047FC;
    }

    #addItemDiv {
        top: 400px;
        position: absolute;
        background-color: #7FC7D9;
        width: 98%;
        height: 400px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 10px;

    }
    #addItemDiv>h3{
        position: absolute;
        left: 20px;
        top:20px;
        margin: auto;
    }

    #addItemDiv > form {
        position: absolute;
        width: 90%;
        left: 0;
        right: 0;
        bottom: 100px;
        margin: 20px;

    }

    #updateItemDiv {
        position: absolute;
        left: 100px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #deleteItemDiv {
        position: absolute;
        left: 200px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #saveItemDiv {
        position: absolute;
        left: 20px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }
    #resetItemDiv{
        position: absolute;
        left:300px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #itemList{
        position: absolute;
        left:0;
        right: 0;
        top: 950px;
        width: 98%;
        margin: auto;
        height: 600px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #itemTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        margin: auto;
        width: 98%;
        height: 470px;
        overflow: auto;
    }
    #itemList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarItems{

        position: absolute;
        width: 30%;
        height: 40px;
        border: none;
        left: 0;
        right: 0;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #itemList>div>table{
        position: absolute;
        left: 0;
        right: 0;
        /*bottom: 30px;*/
        top: 0;
        margin: auto;
        width: 100%;
        height: 470px;
    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 120px;
    }

}
@media all and  (min-width:1440px){
    body {

        position: relative;
       /* height: 1800px;*/
        width: 100vw;
    }
    #itemSection{
        position: relative;
        height: 1700px;
    }

    .container-fluid {
        background-color: #365486;
    }

    nav {
        position: relative;
        z-index: 9999;
    }
    #statusDiv{
        width: 100%;
        height: 300px;
        position: absolute;
        top:30px;
        margin: auto;
    }
    #status{
        width: 97%;
        height: 200px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #365486;
        border-radius: 20px;
    }
    #categoryDiv{
        width: 18%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 20px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #productsDiv{
        width: 18%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: calc(18% + 40px);
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #sellingDiv{
        width: 18%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: calc(36% + 60px);
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #lowStockDiv{
        width: 18%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: calc(54% + 80px);
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #outStockDiv{
        width: 18%;
        height: 150px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: calc(72% + 100px);
        margin: auto;
        background-color: white;
        border-radius: 10px;
    }
    #status>div>h2{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
    }
    #status>div>h1{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
        margin: auto;
        width: fit-content;
    }
    #categoryDiv>h2{
        color: #0047FC;
    }

    #addItemDiv {
        top: 400px;
        position: absolute;
        background-color: #7FC7D9;
        width: 98%;
        height: 400px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 10px;

    }
    #addItemDiv>h3{
        position: absolute;
        left: 20px;
        top:20px;
        margin: auto;
    }

    #addItemDiv > form {
        position: absolute;
        width: 90%;
        left: 0;
        right: 0;
        bottom: 100px;
        margin: 20px;

    }

    #updateItemDiv {
        position: absolute;
        left: 100px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #deleteItemDiv {
        position: absolute;
        left: 200px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #saveItemDiv {
        position: absolute;
        left: 20px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }
    #resetItemDiv{
        position: absolute;
        left:300px;
        right: 0;
        bottom: -75px;
        margin: auto;
    }

    #itemList{
        position: absolute;
        left:0;
        right: 0;
        top: 950px;
        width: 98%;
        margin: auto;
        height: 600px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #itemTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top: 120px;
        margin: auto;
        width: 98%;
        height: 470px;
        overflow: auto;
    }
    #itemList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarItems{

        position: absolute;
        width: 30%;
        height: 40px;
        border: none;
        left: 0;
        right: 0;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #itemList>div>table{
        position: absolute;
        left: 0;
        right: 0;
       /* bottom: 30px;*/
        top: 0;
        margin: auto;
        width: 100%;
       /* height: 470px;*/
    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 120px;
    }

}