body {

    position: relative;
    height: 1800px;
    width: 100vw;
}

.container-fluid {
    background-color: #365486;
}

nav {
    position: relative;
    z-index: 9999;
}
#statusDiv{
    width: 100%;
    height: 600px;
    position: absolute;
    top:50px;
    margin: auto;
}
#status{
    width: 97%;
    height: 200px;
    position: absolute;
    top:100px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #365486;
    border-radius: 20px;
}
#categoryDiv{
    width: 18%;
    height: 150px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 20px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}
#productsDiv{
    width: 18%;
    height: 150px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: calc(18% + 40px);
    margin: auto;
    background-color: white;
    border-radius: 10px;
}
#sellingDiv{
    width: 18%;
    height: 150px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: calc(36% + 60px);
    margin: auto;
    background-color: white;
    border-radius: 10px;
}
#lowStockDiv{
    width: 18%;
    height: 150px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: calc(54% + 80px);
    margin: auto;
    background-color: white;
    border-radius: 10px;
}
#outStockDiv{
    width: 18%;
    height: 150px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: calc(72% + 100px);
    margin: auto;
    background-color: white;
    border-radius: 10px;
}
#status>div>h2{
     position: absolute;
     left: 0;
     right: 0;
     margin: auto;
     width: fit-content;
 }
#status>div>h1{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
    width: fit-content;
}
#categoryDiv>h2{
    color: #0047FC;
}

#addDiv {
    top: 450px;
    position: absolute;
    background-color: #7FC7D9;
    width: 98%;
    height: 400px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;

}
#addDiv>h3{
    position: absolute;
    left: 20px;
    top:20px;
    margin: auto;
}

#addDiv > form {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: 20px;

}

#updateDiv {
    position: absolute;
    left: 100px;
    right: 0;
    bottom: -75px;
    margin: auto;
}

#deleteDiv {
    position: absolute;
    left: 200px;
    right: 0;
    bottom: -75px;
    margin: auto;
}

#saveDiv {
    position: absolute;
    left: 20px;
    right: 0;
    bottom: -75px;
    margin: auto;
}
