
/*@media only screen and (min-width: 834px) {
   !* body{

        position: relative;
        height: 1500px;
        width: 100vw;
    }
    .container-fluid{
        background-color: #365486;
    }
    nav {
        position: relative; !* Ensure the z-index works *!
        z-index: 9999; !* Set a high z-index value *!
    }
    #addOrderDiv{
        width: 100%;
        height: 500px;
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        margin: auto;
    }
    #selectCusDiv{
        width: 26%;
        height: 400px;
        position: absolute;
        left: 10px;
        bottom: 50px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectItemDiv{
        width: 26%;
        height: 400px;
        position: absolute;
        left: 27.5%;
        bottom: 50px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #cartTable{
        width: 45%;
        height: 400px;
        position: absolute;
        right: 10px;
        bottom: 50px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectCusDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 150px;

    }
    #saveDiv{
        position: absolute;
        left:20px;
        right: 0;
        bottom: 30px;
        margin: auto;

    }
    #saveDiv>button{
        width: 90%;
    }
    #addOrderDiv>#selectCusDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }*!
}*/



@media all and (max-width: 320px ){

    body{

        position: relative;
        height: 2750px;
        width: 100vw;
    }
    .container-fluid{
        background-color: #365486;
    }
    nav {
        position: relative; /* Ensure the z-index works */
        z-index: 9999; /* Set a high z-index value */
    }
    #addOrderDiv{
        width: 100%;
        height: 1000px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        margin: auto;
    }
    #selectCusDiv{
        width: 95%;
        height: 550px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectItemDiv{
        width: 95%;
        height: 550px;
        position: absolute;
        left: 0;
        right: 0;
        top:600px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #cartTable{
        width: 95%;
        height: 450px;
        position: absolute;
        right: 0;
        left: 0;
        top:1200px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    /*   #selectCusDiv> form{
           position: absolute;
           width: 95%;
           left: 0;
           right: 0;
           margin: auto;
           top:100px;

       }*/
    #saveDiv{
        position: absolute;
        left:0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 100%;

    }
    #saveDiv>button{
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        bottom: 10px;
    }
    #addOrderDiv>#selectCusDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }
    #selectCusDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top:50px;

    }

    #selectItemDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top: 50px;

    }
    #addToCartDiv{
        position: absolute;
        left:20px;
        right: 0;
        bottom: 20px;
        margin: auto;

    }
    #addToCartDiv>button{
        width: 90%;
    }
    #addOrderDiv>#selectItemDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #cartTable>table{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 70px;
        margin: auto;
        width: 98%;
        height: 75%;
    }
    #cartTable>h3{
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    #placeOrderDiv{
        width: 100%;
        height: 100px;
        position: absolute;
        top:1750px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #totalLabel{
        position: absolute;
        top: 0;
        right: 200px;
    }
    #totalValue{
        position: absolute;
        top: 0;
        right: 15px;
    }
    #placeOrder{
        position: absolute;
        bottom: 0;
        right: 15px;
        width: 300px;
        height: 50px;
        background-color:#0d6efd;
        border: solid #0d6efd;
        border-radius: 10px;
        color: white;
        font-size: 20px;
    }
    #orderList{
        position: absolute;
        left:0;
        right: 0;
        top: 1950px;
        width: 98%;
        margin: auto;
        height: 600px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #orderTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top :120px;
        margin: auto;
        width: 98%;
        height: 460px;
        overflow: auto;
    }
    #moreOrders{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #orderList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarOrders {

        position: absolute;
        width: 50%;
        height: 40px;
        border: none;

        right: 50px;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    #orderList>div>table{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        width: 100%;

    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 80px;
    }
}
@media all and (min-width: 321px ) and (max-width: 460px){

    body{

        position: relative;
        height: 2750px;
        width: 100vw;
    }
    .container-fluid{
        background-color: #365486;
    }
    nav {
        position: relative; /* Ensure the z-index works */
        z-index: 9999; /* Set a high z-index value */
    }
    #addOrderDiv{
        width: 100%;
        height: 1000px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        margin: auto;
    }
    #selectCusDiv{
        width: 95%;
        height: 550px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectItemDiv{
        width: 95%;
        height: 550px;
        position: absolute;
        left: 0;
        right: 0;
        top:600px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #cartTable{
        width: 95%;
        height: 450px;
        position: absolute;
        right: 0;
        left: 0;
        top:1200px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    /*   #selectCusDiv> form{
           position: absolute;
           width: 95%;
           left: 0;
           right: 0;
           margin: auto;
           top:100px;

       }*/
    #saveDiv{
        position: absolute;
        left:0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 100%;

    }
    #saveDiv>button{
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        bottom: 10px;
    }
    #addOrderDiv>#selectCusDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }
    #selectCusDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top:50px;

    }

    #selectItemDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top: 50px;

    }
    #addToCartDiv{
        position: absolute;
        left:20px;
        right: 0;
        bottom: 20px;
        margin: auto;

    }
    #addToCartDiv>button{
        width: 90%;
    }
    #addOrderDiv>#selectItemDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #cartTable>table{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 70px;
        margin: auto;
        width: 98%;
        height: 75%;
    }
    #cartTable>h3{
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    #placeOrderDiv{
        width: 100%;
        height: 100px;
        position: absolute;
        top:1750px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #totalLabel{
        position: absolute;
        top: 0;
        right: 200px;
    }
    #totalValue{
        position: absolute;
        top: 0;
        right: 15px;
    }
    #placeOrder{
        position: absolute;
        bottom: 0;
        right: 15px;
        width: 300px;
        height: 50px;
        background-color:#0d6efd;
        border: solid #0d6efd;
        border-radius: 10px;
        color: white;
        font-size: 20px;
    }
    #orderList{
        position: absolute;
        left:0;
        right: 0;
        top: 1950px;
        width: 98%;
        margin: auto;
        height: 600px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #orderTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top :120px;
        margin: auto;
        width: 98%;
        height: 460px;
        overflow: auto;
    }
    #moreOrders{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #orderList>div>table{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        width: 100%;

    }
    #orderList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarOrders {

        position: absolute;
        width: 50%;
        height: 40px;
        border: none;

        right: 50px;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 80px;
    }


}
@media all and (min-width: 461px ) and (max-width: 768px){

    body{

        position: relative;
        height: 2200px;
        width: 100vw;
    }
    .container-fluid{
        background-color: #365486;
    }
    nav {
        position: relative; /* Ensure the z-index works */
        z-index: 9999; /* Set a high z-index value */
    }
    #addOrderDiv{
        width: 100%;
        height: 1000px;
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        margin: auto;
    }
    #selectCusDiv{
        width: 50%;
        height: 550px;
        position: absolute;
        left: 10px;
        top: 20px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectItemDiv{
        width: 50%;
        height: 550px;
        position: absolute;
        left: 55%;
        top:20px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #cartTable{
        width: 95%;
        height: 450px;
        position: absolute;
        right: 0;
        left: 0;
        top:620px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
 /*   #selectCusDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top:100px;

    }*/
    #saveDiv{
        position: absolute;
        left:0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 100%;

    }
    #saveDiv>button{
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        bottom: 10px;
    }
    #addOrderDiv>#selectCusDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }
    #selectCusDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top:50px;

    }

    #selectItemDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top: 50px;

    }
    #addToCartDiv{
        position: absolute;
        left:20px;
        right: 0;
        bottom: 20px;
        margin: auto;

    }
    #addToCartDiv>button{
        width: 90%;
    }
    #addOrderDiv>#selectItemDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #cartTable>table{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 70px;
        margin: auto;
        width: 98%;
        height: 75%;
    }
    #cartTable>h3{
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    #placeOrderDiv{
        width: 100%;
        height: 100px;
        position: absolute;
        top:1200px;
    }
    #totalLabel{
        position: absolute;
        top: 0;
        right: 200px;
    }
    #totalValue{
        position: absolute;
        top: 0;
        right: 15px;
    }
    #placeOrder{
        position: absolute;
        bottom: 0;
        right: 15px;
        width: 300px;
        height: 50px;
        background-color:#0d6efd;
        border: solid #0d6efd;
        border-radius: 10px;
        color: white;
        font-size: 20px;
    }
    #orderList{
        position: absolute;
        left:0;
        right: 0;
        top: 1370px;
        width: 98%;
        margin: auto;
        height: 630px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #orderTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top :120px;
        margin: auto;
        width: 98%;
        height: 470px;
        overflow: auto;
    }
    #orderList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarOrders {

        position: absolute;
        width: 50%;
        height: 40px;
        border: none;

        right: 50px;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    #moreOrders{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #orderList>div>table{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        width: 100%;

    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 80px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 80px;
    }

}
@media all and (min-width: 769px ) and (max-width: 834px){
    body{

        position: relative;
        height: 2000px;
        width: 100vw;
    }
    .container-fluid{
        background-color: #365486;
    }
    nav {
        position: relative; /* Ensure the z-index works */
        z-index: 9999; /* Set a high z-index value */
    }
    #addOrderDiv{
        width: 100%;
        height: 1000px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        margin: auto;
    }
    #selectCusDiv{
        width: 50%;
        height: 400px;
        position: absolute;
        left: 10px;
        top: 20px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectItemDiv{
        width: 50%;
        height: 400px;
        position: absolute;
        left: 55%;
        top:20px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #cartTable{
        width: 95%;
        height: 450px;
        position: absolute;
        right: 0;
        left: 0;
        top:500px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectCusDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top:50px;

    }
    #saveDiv{
        position: absolute;
        left:0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 100%;

    }
    #saveDiv>button{
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        bottom: 10px;
    }
    #addOrderDiv>#selectCusDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }
    #selectCusDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top:50px;

    }

    #selectItemDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 75px;

    }
    #addToCartDiv{
        position: absolute;
        left:20px;
        right: 0;
        bottom: 20px;
        margin: auto;

    }
    #addToCartDiv>button{
        width: 90%;
    }
    #addOrderDiv>#selectItemDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #cartTable>table{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 70px;
        margin: auto;
        width: 98%;
        height: 75%;
    }
    #cartTable>h3{
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    #placeOrderDiv{
        width: 100%;
        height: 100px;
        position: absolute;
        top:1050px;
    }
    #totalLabel{
        position: absolute;
        top: 0;
        right: 200px;
    }
    #totalValue{
        position: absolute;
        top: 0;
        right: 15px;
    }
    #placeOrder{
        position: absolute;
        bottom: 0;
        right: 15px;
        width: 300px;
        height: 50px;
        background-color:#0d6efd;
        border: solid #0d6efd;
        border-radius: 10px;
        color: white;
        font-size: 20px;
    }
    #orderList{
        position: absolute;
        left:0;
        right: 0;
        top: 1220px;
        width: 98%;
        margin: auto;
        height: 600px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #orderTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top :120px;
        margin: auto;
        width: 98%;
        height: 470px;
        overflow: auto;
    }
    #orderList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarOrders {

        position: absolute;
        width: 40%;
        height: 40px;
        border: none;
        left: 0;
        right: 0;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    #moreOrders{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #orderList>div>table{
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        margin: auto;
        width: 100%;

    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 100px;
    }

}
@media all and (min-width: 835px ) and (max-width: 1024px){
    body{

        position: relative;
        height: 2000px;
        width: 100vw;
    }
    .container-fluid{
        background-color: #365486;
    }
    nav {
        position: relative; /* Ensure the z-index works */
        z-index: 9999; /* Set a high z-index value */
    }
    #addOrderDiv{
        width: 100%;
        height: 1000px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        margin: auto;
    }
    #selectCusDiv{
        width: 50%;
        height: 400px;
        position: absolute;
        left: 10px;
        top: 20px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectItemDiv{
        width: 50%;
        height: 400px;
        position: absolute;
        left: 55%;
        top:20px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #cartTable{
        width: 95%;
        height: 450px;
        position: absolute;
        right: 0;
        left: 0;
        top:500px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectCusDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top:50px;

    }
    #saveDiv{
        position: absolute;
        left:0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 100%;

    }
    #saveDiv>button{
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        bottom: 10px;
    }
    #addOrderDiv>#selectCusDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }
    #selectCusDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top:50px;

    }

    #selectItemDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 75px;

    }
    #addToCartDiv{
        position: absolute;
        left:20px;
        right: 0;
        bottom: 20px;
        margin: auto;

    }
    #addToCartDiv>button{
        width: 90%;
    }
    #addOrderDiv>#selectItemDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #cartTable>table{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 70px;
        margin: auto;
        width: 98%;
        height: 75%;
    }
    #cartTable>h3{
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    #placeOrderDiv{
        width: 100%;
        height: 100px;
        position: absolute;
        top:1050px;
    }
    #totalLabel{
        position: absolute;
        top: 0;
        right: 200px;
    }
    #totalValue{
        position: absolute;
        top: 0;
        right: 15px;
    }
    #placeOrder{
        position: absolute;
        bottom: 0;
        right: 15px;
        width: 300px;
        height: 50px;
        background-color:#0d6efd;
        border: solid #0d6efd;
        border-radius: 10px;
        color: white;
        font-size: 20px;
    }
    #orderList{
        position: absolute;
        left:0;
        right: 0;
        top: 1220px;
        width: 98%;
        margin: auto;
        height: 600px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #orderTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top :120px;
        margin: auto;
        width: 98%;
        height: 470px;
        overflow: auto;
    }
    #orderList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarOrders{

        position: absolute;
        width: 40%;
        height: 40px;
        border: none;
        left: 0;
        right: 0;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    #moreOrders{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #orderList>div>table{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        width: 100%;

    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 100px;
    }

}
@media all and (min-width: 1025px ) and (max-width: 1440px){
    body{

        position: relative;
        height: 2000px;
        width: 100vw;
    }
    .container-fluid{
        background-color: #365486;
    }
    nav {
        position: relative; /* Ensure the z-index works */
        z-index: 9999; /* Set a high z-index value */
    }
    #addOrderDiv{
        width: 100%;
        height: 1000px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        margin: auto;
    }
    #selectCusDiv{
        width: 50%;
        height: 400px;
        position: absolute;
        left: 10px;
        top: 20px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectItemDiv{
        width: 50%;
        height: 400px;
        position: absolute;
        left: 55%;
        top:20px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #cartTable{
        width: 95%;
        height: 450px;
        position: absolute;
        right: 0;
        left: 0;
        top:500px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectCusDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top:50px;

    }
    #saveDiv{
        position: absolute;
        left:0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 100%;

    }
    #saveDiv>button{
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        bottom: 10px;
    }
    #addOrderDiv>#selectCusDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }
    #selectCusDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        top:50px;

    }

    #selectItemDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 75px;

    }
    #addToCartDiv{
        position: absolute;
        left:20px;
        right: 0;
        bottom: 20px;
        margin: auto;

    }
    #addToCartDiv>button{
        width: 90%;
    }
    #addOrderDiv>#selectItemDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #cartTable>table{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 70px;
        margin: auto;
        width: 98%;
        height: 75%;
    }
    #cartTable>h3{
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    #placeOrderDiv{
        width: 100%;
        height: 100px;
        position: absolute;
        top:1050px;
    }
    #totalLabel{
        position: absolute;
        top: 0;
        right: 200px;
    }
    #totalValue{
        position: absolute;
        top: 0;
        right: 15px;
    }
    #placeOrder{
        position: absolute;
        bottom: 0;
        right: 15px;
        width: 300px;
        height: 50px;
        background-color:#0d6efd;
        border: solid #0d6efd;
        border-radius: 10px;
        color: white;
        font-size: 20px;
    }
    #orderList{
        position: absolute;
        left:0;
        right: 0;
        top: 1220px;
        width: 98%;
        margin: auto;
        height: 600px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }
    #orderTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top :120px;
        margin: auto;
        width: 98%;
        height: 470px;
        overflow: auto;
    }
    #orderList>h3{
        position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarOrders {

        position: absolute;
        width: 30%;
        height: 40px;
        border: none;
        left: 0;
        right: 0;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }
    #moreOrders{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #orderList>table{
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        margin: auto;
        width: 100%;

    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 120px;
    }

}
@media all and  (min-width:1440px){
    body{

        position: relative;
        height: 1600px;
        width: 100vw;
    }
    .container-fluid{
        background-color: #365486;
    }
    nav {
        position: relative; /* Ensure the z-index works */
        z-index: 9999; /* Set a high z-index value */
    }
    #addOrderDiv{
        width: 100%;
        height: 500px;
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        margin: auto;
    }
    #selectCusDiv{
        width: 26%;
        height: 450px;
        position: absolute;
        left: 10px;
        bottom: 50px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectItemDiv{
        width: 26%;
        height: 450px;
        position: absolute;
        left: 27.5%;
        bottom: 50px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #cartTable{
        width: 45%;
        height: 450px;
        position: absolute;
        right: 10px;
        bottom: 50px;
        margin: auto;
        background-color: #7FC7D9;
        border-radius: 10px;
    }
    #selectCusDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 150px;

    }
    #saveDiv{
        position: absolute;
        left:20px;
        right: 0;
        bottom: 20px;
        margin: auto;

    }
    #saveDiv>button{
        width: 90%;
    }
    #addOrderDiv>#selectCusDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }

    #selectItemDiv> form{
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 75px;

    }
    #addToCartDiv{
        position: absolute;
        left:20px;
        right: 0;
        bottom: 20px;
        margin: auto;

    }
    #addToCartDiv>button{
        width: 90%;
    }
    #addOrderDiv>#selectItemDiv>h3{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: fit-content;
        top: 10px;
    }

    /*#cartTable{
        position: absolute;
        left:0;
        right: 0;
        top: 550px;
        width: 98%;
        margin: auto;
        height: 600px;
        border-radius: 10px;

    }*/
    #more{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #cartTable>table{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 70px;
        margin: auto;
        width: 98%;
        height: 75%;
    }
    #cartTable>h3{
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    #placeOrderDiv{
        width: 100%;
        height: 100px;
        position: absolute;
        top:600px;
    }
    #totalLabel{
        position: absolute;
        top: 0;
        right: 200px;
    }
    #totalValue{
        position: absolute;
        top: 0;
        right: 15px;
    }
    #placeOrder{
        position: absolute;
        bottom: 0;
        right: 15px;
        width: 300px;
        height: 50px;
        background-color:#0d6efd;
        border: solid #0d6efd;
        border-radius: 10px;
        color: white;
        font-size: 20px;
    }
    #orderList{
        position: absolute;
        left: 0;
        right: 0;
        top: 750px;
        width: 98%;
        margin: auto;
        height: 650px;
        background-color: #DCF2F1;
        border-radius: 10px;

    }

    #orderTableDiv{
        position: absolute;
        left: 0;
        right: 0;
        top :120px;
        margin: auto;
        width: 98%;
        height: 470px;
        overflow: auto;
    }
    #orderList>h3{
       position: absolute;
        width: fit-content;
        margin: 20px;
    }

    #searchBarOrders{

        position: absolute;
        width: 30%;
        height: 40px;
        border: none;
        left: 0;
        right: 0;
        top: 50px;
        border-radius: 12px;
        text-align: justify;
        margin: auto;


    }

    #moreOrders {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: auto;
        width: 98%;
        height: 40px;
        border-radius: 10px;
        border: solid white;

    }
    #orderList>div>table {
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        margin: auto;
        width: 100%;

    }
    footer{
        position: absolute;
        text-align: center;
        font-family: "Times New Roman";
        padding: 3px;
        background-color: black;
        color: white;
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer > div > h3 {
        position: absolute;

        font-family: "Times New Roman";
        font-size: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #contactdiv {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 30px;
        margin: auto;
    }

    #emailDiv {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 43px;
        margin: auto;
    }

    #locationdiv {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 40px;
    }
    #copy{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
    }
    #contact{
        position: absolute;
        top:10px;
        width: fit-content;

    }
    footer > div >img{

        position: absolute;
        right: 150px;
    }
    footer>img{
        position: absolute;
        left: 10px;
        width: 120px;
    }
}