@media only screen and (max-width: 360px) {
    body {
        position: relative;

      background-color: #DCF2F1;
    }
    #loginImage{
        position: absolute;
        left: 0;
        width: 50%;
        height: 100vh;
        margin: auto;
        background-color: white;

    }
    #loginImage>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 400px;
    }

    #loginForm{

        position: absolute;
        left:50% ;
        width: 50%;
        height: 100vh;
        margin: auto;
    }
    #loginForm>form{
        position: absolute;
        right:0;
        left: 0;
        top:0;
        bottom: 0;
        width: 350px;
        height: 200px;
        margin: auto;
    }
    #enterEmail{
        width: 350px;
        left: 0;
        right: 0;
        position: absolute;
        top: 0;
    }
    #enterPassword{
        width: 350px;
        left: 0;
        right: 0;
        position: absolute;
        top: 70px;
    }
    #loginBtn{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        width: 150px;
        font-size: 10px;
        background-color: #7FC7D9;
        color: white;
        border-radius: 10px;
    }
    #label-username{
        position: absolute;
        font-size: 10px;
        border: solid white;
        top: 0;
        left: 0;
    }
    #exampleInputEmail1{
        position: absolute;
        font-size: 10px;
        border: solid #365486;
        width: 350px;
        border-radius: 10px;
        height: 30px;
        top: 30px;

    }
    #label-password{
        position: absolute;
        font-size: 10px;
        border: solid white;
        top: 0;
        left: 0;
    }
    #exampleInputPassword1{
        position: absolute;
        font-size: 10px;
        border: solid #365486;
        width: 350px;
        border-radius: 10px;
        height: 30px;
        top: 30px;

    }

}

@media only screen and (max-width: 834px) {
    body {
        position: relative;
        background-color: #DCF2F1;
    }

    #loginImage{
        position: absolute;
        left: 0;
        width: 50%;
        height: 100vh;
        margin: auto;
        background-color: white;

    }
    #loginImage>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 400px;
    }
    #loginForm{

        position: absolute;
        right:0 ;
        left: 50%;
        width: 50%;
        height: 100vh;
        margin: auto;
    }
    #loginForm>form{
        position: absolute;
        right:0;
        left: 0;
        top:0;
        bottom: 0;
        width: 350px;
        height: 200px;
        margin: auto;
    }
    #enterEmail{
        width: 300px;
        left: 0;
        right: 0;
        position: absolute;
        top: 0;
    }
    #enterPassword{
        width: 300px;
        left: 0;
        right: 0;
        position: absolute;
        top: 70px;
    }
    #loginBtn{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        width: 150px;
        font-size: 15px;
        background-color: #7FC7D9;
        color: white;
        border-radius: 10px;
    }
    #label-username{
        position: absolute;
        font-size: 15px;
        border: solid white;
        top: 0;
        left: 0;
    }
    #exampleInputEmail1{
        position: absolute;
        font-size: 15px;
        border: solid #365486;
        width: 350px;
        border-radius: 10px;
        height: 30px;
        top: 30px;

    }
    #label-password{
        position: absolute;
        font-size: 15px;
        border: solid white;
        top: 0;
        left: 0;
    }
    #exampleInputPassword1{
        position: absolute;
        font-size: 15px;
        border: solid #365486;
        width: 350px;
        border-radius: 10px;
        height: 30px;
        top: 30px;

    }
}

@media only screen and (min-width: 834px) {
    body {
    position: relative;
        background-color: #DCF2F1;
}

    #loginImage{
        position: absolute;
        left: 0;
        width: 50%;
        height: 100vh;
        margin: auto;
        background-color: white;

    }
    #loginImage>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 400px;
    }
    #loginForm{

        position: absolute;
        right:0 ;
        left: 50%;
        width: 50%;
        height: 100vh;
        margin: auto;
    }
    #loginForm>form{
        position: absolute;
        right:0;
        left: 0;
        top:0;
        bottom: 0;
        width: 350px;
        height: 200px;
        margin: auto;
    }
    #enterEmail{
        width: 350px;
        left: 0;
        right: 0;
        position: absolute;
        top: 0;
    }
    #enterPassword{
        width: 350px;
        left: 0;
        right: 0;
        position: absolute;
        top: 70px;
    }
    #loginBtn{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        width: 150px;
        font-size: 15px;
        background-color: #7FC7D9;
        color: white;
        border-radius: 10px;
    }
    #label-username{
        position: absolute;
        font-size: 15px;
        border: solid white;
        top: 0;
        left: 0;
    }
    #exampleInputEmail1{
        position: absolute;
        font-size: 15px;
        border: solid #365486;
        width: 350px;
        border-radius: 10px;
        height: 30px;
        top: 30px;

    }
    #label-password{
        position: absolute;
        font-size: 15px;
        border: solid white;
        top: 0;
        left: 0;
    }
    #exampleInputPassword1{
        position: absolute;
        font-size: 15px;
        border: solid #365486;
        width: 350px;
        border-radius: 10px;
        height: 30px;
        top: 30px;

    }


}
@media only screen and (min-width: 1300px){
    body {
    position: relative;
        background-color: #DCF2F1;
}
    #loginImage{
        position: absolute;
        left: 0;
        width: 50%;
        height: 100vh;
        margin: auto;
        background-color: white;

    }
    #loginImage>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 400px;
    }

    #loginForm{

        position: absolute;
        right:0 ;
        left: 50%;
        width: 50%;
        height: 100vh;
        margin: auto;
    }
    #loginForm>form{
        position: absolute;
        right:0;
        left: 0;
        top:0;
        bottom: 0;
        width: 350px;
        height: 200px;
        margin: auto;
    }
    #enterEmail{
        width: 350px;
        left: 0;
        right: 0;
        position: absolute;
        top: 0;
    }
    #enterPassword{
        width: 350px;
        left: 0;
        right: 0;
        position: absolute;
        top: 70px;
    }
    #loginBtn{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        width: 150px;
        font-size: 20px;
        background-color: #7FC7D9;
        color: white;
        border-radius: 10px;
    }
    #label-username{
        position: absolute;
        font-size: 20px;
        border: solid white;
        top: 0;
        left: 0;
    }
    #exampleInputEmail1{
        position: absolute;
        font-size: 20px;
        border: solid #365486;
        width: 350px;
        border-radius: 10px;
        height: 30px;
        top: 30px;

    }
    #label-password{
        position: absolute;
        font-size: 20px;
        border: solid white;
        top: 0;
        left: 0;
    }
    #exampleInputPassword1{
        position: absolute;
        font-size: 20px;
        border: solid #365486;
        width: 350px;
        border-radius: 10px;
        height: 30px;
        top: 30px;

    }
}

body {
    position: relative;

}
#loginImage{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100vh;
    margin: auto;
}

#loginForm{

    position: absolute;
    right:0 ;
    left: 50%;
    width: 50%;
    height: 100vh;
    margin: auto;
}
#loginForm>form{
    position: absolute;
    right:0;
    left: 0;
    top:0;
    bottom: 0;
    width: 350px;
    height: 200px;
    margin: auto;
}
#enterEmail{
    width: 350px;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
}
#enterPassword{
    width: 350px;
    left: 0;
    right: 0;
    position: absolute;
    top: 70px;
}
#loginBtn{
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 150px;
    font-size: 20px;
    background-color: #7FC7D9;
    color: white;
    border-radius: 10px;
}
#label-username{
   position: absolute;
    font-size: 20px;
    border: solid #DCF2F1;
    top: 0;
    left: 0;
}
#exampleInputEmail1{
    position: absolute;
    font-size: 20px;
    border: solid #365486;
    width: 350px;
    border-radius: 10px;
    height: 30px;
    top: 30px;

}
#label-password{
    position: absolute;
    font-size: 20px;
    border: solid #DCF2F1;
    top: 0;
    left: 0;
}
#exampleInputPassword1{
    position: absolute;
    font-size: 20px;
    border: solid #365486;
    width: 350px;
    border-radius: 10px;
    height: 30px;
    top: 30px;

}

